<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link  rel="stylesheet" href="/stylesheets/landing.css">
    <title>Witcher Views</title>
</head>
<body>
    <div class="container" id="landing-header">
        <h1>Welome to WitcherViews</h1>
        <a class="btn btn-lg btn-success" href="/locations">View Locations</a>
    </div>
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    

<% include partials/footer %>